<h1><%= t_exam_title(:exam_2) %></h1>
<p><%= t_exam_content(:exam_2) %></p>


<%= form_tag dashboard_get_user_game_path, remote: true do %>
  <%= submit_tag t_(:get) %>
<% end %>

<h2 id="result-get-prime">
  <%= t_(:email) %>: <span class="user"></span>
  <%= t_(:count) %>: <span class="count"></span>
</h2>
<!--



 -->
