<h1><%= t_exam_title(:exam_1) %></h1>
<p><%= t_exam_content(:exam_1) %></p>


<%= form_tag dashboard_get_prime_path, remote: true do %>
  <%= text_field_tag :number %>
  <%= submit_tag t_(:get) %>
<% end %>

<h2 id="result-get-prime">
  <%= t_(:answer) %>
</h2>
<!--



 -->
