<div>
  <h1><%= t_exam_title(:exam_9) %></h1>
  <p><%= t_exam_content(:exam_9) %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t_(:name) %></th>
      </tr>
    </thead>
    <tbody>
      <!-- Just for guide you can make your own -->
      <% @games.each do |game| %>
        <tr>
          <td><%= game.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
