<div>
  <h1><%= t_exam_title(:exam_10) %></h1>
  <p><%= t_exam_content(:exam_10) %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t_(:name) %></th>
        <th><%= t_(:count) %></th>
        <th><%= t_(:users) %></th>
      </tr>
    </thead>
    <tbody>
      <!-- Just for guide you can make your own -->
      <% @games.each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td></td>
          <td>
            <% game.users.each do |user| %>
              <% if false %>
                <strong style="color:red;"><%= user.email %></strong>
              <% else %>
                <%= user.email %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
