<% if I18n.locale == :en %>
  <h1>Guide</h1>
  <ul>
    <li>If you're having trouble understanding a question, take a look inside the controllers, it will help clarify what you have to do.</li>
    <li>The 'creator' relationship is only used for questions 9 and 10.</li>
    <li>Try to do as many questions as possible. We want to see how many you can finish in 1 hour so don't
        hesite to skip some if you get stuck.</li>
    <li>Avoid using nested loops.</li>
    <li>Questions 2 and 3 (as well as 4 and 5) are related questions. If you implement the first question well, you can probably
        skip the following one.</li>
    <li>Feel free to ask questions during the exam.</li>
    <li>Internet is allowed and recommended.</li>
    <li>Have fun!</li>
  </ul>
<% elsif I18n.locale == :th %>
  <h1>แนวทาง</h1>
  <ul>
    <li>รายละเอียดของคำถามอาจจะเข้าใจมากขึ้นเมื่อเห็น controller</li>
    <li>Creator relation ใช้เฉพาะข้อ 9 - 10</li>
    <li>เลือกทำข้อที่ง่ายการ เน้นจำนวนที่ทำภายใน 1 ชั่วโมง</li>
    <li>พยายามหลีกเลี่ยงการเรียกลูปซ้อนลูปถ้าเป็นไปได้</li>
    <li>2 -> 3, 4 -> 5 คำถามจะคล้ายกันถ้าทำข้อแรกได้ดีสามารถข้ามอีกข้อได้</li>
    <li>ระหว่างทำข้อสอบ สงสัยตรงไหนถามได้</li>
  </ul>
<% end %>
